<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Piglatinized!</title>
</head>
<body>
    <h1>Your Piglatinized Phrase!</h1>
    <br>
    <p><%= @piglatinized_phrase %></p>
</body>
</html>